<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singup</title>
</head>
<body>
    <h2>Let's Start Our Relation together with creating account</h2>
    <form method="post" action="/signup">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" placeholder="eg.Rishav" id="firstName"> <br><br>

        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" placeholder="eg.kumar" id="lastName"> <br><br>

        <label for="email">email:</label>
        <input type="text" name="email" placeholder="eg.Rishav@123gmail.com" id="email"> <br><br>

        <label for="contact">contact no:</label>
        <input type="text" name="contact" placeholder="eg.990586258" id="contact"> <br><br>

        <label for="password">password:</label>
        <input type="text" name="password" placeholder="min 8 character" id="password"> <br><br>

        <button type="submit">submit</button>
    </form>
</body>
</html>